wadl/cloudvision-local.xml

<?xml version="1.0" encoding="utf-16"?>
<application xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:sienatool="http://www.todo.com" siena:serviceId="CloudVision" xmlns="http://wadl.dev.java.net/2009/02">
	<grammars>
		<siena:jsonTypes targetNamespace="http://www.todo.com" xmlns:wadl="http://wadl.dev.java.net/2009/02">
			<siena:object name="Vision_Root">
				<siena:property name="categories" typeRef="Vision_categories_Array" />
				<siena:property name="adult" typeRef="Vision_adult_Object" />
				<siena:property name="requestId" type="string" />
				<siena:property name="imageUrl" type="string" />
				<siena:property name="metadata" typeRef="Vision_metadata_Object" />
				<siena:property name="faces" typeRef="Vision_faces_Array" />
				<siena:property name="color" typeRef="Vision_color_Object" />
				<siena:property name="imageType" typeRef="Vision_imageType_Object" />
			</siena:object>
			<siena:object name="Vision_categories_Object">
				<siena:property name="name" type="string" />
				<siena:property name="score" type="number" />
			</siena:object>
			<siena:array name="Vision_categories_Array" typeRef="Vision_categories_Object" />
			<siena:object name="Vision_adult_Object">
				<siena:property name="isAdultContent" type="boolean" />
				<siena:property name="isRacyContent" type="boolean" />
				<siena:property name="adultScore" type="number" />
				<siena:property name="racyScore" type="number" />
			</siena:object>
			<siena:object name="Vision_metadata_Object">
				<siena:property name="width" type="number" />
				<siena:property name="height" type="number" />
				<siena:property name="format" type="string" />
			</siena:object>
			<siena:object name="Vision_faces_Object">
				<siena:property name="age" type="number" />
				<siena:property name="gender" type="string" />
				<siena:property name="faceRectangle" typeRef="Vision_faceRectangle_Object" />
			</siena:object>
			<siena:object name="Vision_faceRectangle_Object">
				<siena:property name="left" type="number" />
				<siena:property name="top" type="number" />
				<siena:property name="width" type="number" />
				<siena:property name="height" type="number" />
			</siena:object>
			<siena:array name="Vision_faces_Array" typeRef="Vision_faces_Object" />
			<siena:object name="Vision_color_Object">
				<siena:property name="dominantColorForeground" type="string" />
				<siena:property name="dominantColorBackground" type="string" />
				<siena:property name="dominantColors" typeRef="StringArray" />
				<siena:property name="accentColor" type="string" />
				<siena:property name="isBWImg" type="boolean" />
			</siena:object>
			<siena:array name="StringArray" type="string" />
			<siena:object name="Vision_imageType_Object">
				<siena:property name="clipArtType" type="number" />
				<siena:property name="lineDrawingType" type="number" />
			</siena:object>
		</siena:jsonTypes>
	</grammars>
	<resources base="http://localhost:27323">
		<resource path="api/vision">
			<method name="POST" id="PostVision">
				<request>
					<representation mediaType="multipart/form-data">
						<param name="Image" style="Query" type="xs:base64Binary" siena:dtype="image" required="true" />
						<param name="generateimage" style="Query" required="true" siena:sampleDefault="1" />
						<param name="pencolor" style="Query" required="true" siena:sampleDefault="320320" />
						<param name="fillcolor" style="Query" required="true" siena:sampleDefault="123456" />
					</representation>
				</request>
				<response siena:resultForm="single">
					<representation mediaType="application/json">
						<param name="Vision_Name" type="sienatool:Vision_Root" style="Plain" path="" />
					</representation>
				</response>
			</method>
		</resource>
		<resource path="api/vision">
			<method name="Get" id="GetVision" siena:requiresAuthentication="false">
				<request>
					<param name="generateimage" style="Query" required="false" siena:sampleDefault="1" />
					<param name="pencolor" style="Query" required="false" siena:sampleDefault="320320" />
					<param name="fillcolor" style="Query" required="false" siena:sampleDefault="123456" />
				</request>
				<response siena:resultForm="single">
					<representation mediaType="application/json">
						<param name="Vision_Name" type="sienatool:Vision_Root" style="Plain" path="" />
					</representation>
				</response>
			</method>
		</resource>
	</resources>
</application>